homeworks/hw2/data/cifar-10-python.tar.gz
homeworks/hw2/data/cifar-10-batches-py/batches.meta
homeworks/hw2/data/cifar-10-batches-py/data_batch_2
homeworks/hw2/MNIST_data/MNIST/raw/t10k-images-idx3-ubyte.gz
homeworks/hw2/MNIST_data/MNIST/raw/t10k-images-idx3-ubyte
homeworks/hw2/MNIST_data/MNIST/raw/train-images-idx3-ubyte
homeworks/hw2/MNIST_data/MNIST/raw/train-labels-idx1-ubyte
homeworks/hw2/MNIST_data/MNIST/raw/train-labels-idx1-ubyte.gz
homeworks/hw2/MNIST_data/MNIST/raw/train-images-idx3-ubyte.gz
homeworks/hw2/MNIST_data/MNIST/raw/t10k-labels-idx1-ubyte.gz
homeworks/hw2/MNIST_data/MNIST/raw/t10k-labels-idx1-ubyte
homeworks/hw2/data/cifar-10-batches-py/test_batch
homeworks/hw2/data/cifar-10-batches-py/readme.html
homeworks/hw2/data/cifar-10-batches-py/data_batch_5
homeworks/hw2/data/cifar-10-batches-py/data_batch_4
homeworks/hw2/data/cifar-10-batches-py/data_batch_3
homeworks/hw2/data/cifar-10-batches-py/data_batch_1
*.pth
